name: Compile LaTeX (Master)

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build-latex:
    runs-on: ubuntu-latest
    env:
      ROAD: "\\NewCommand{\\ROAD}{.}"
      TEXMF_OUTPUT_DIRECTORY: "."
    steps:
      - uses: actions/checkout@v3

      # Fake display for plantuml
      - name: Set up Xvfb
        run: |
          sudo apt-get install -y xvfb
          sudo Xvfb :99 -ac -screen 0 1024x768x8 &
          export DISPLAY=:99

      # Compiling LaTeX documents
      - name: Compiling LaTeX documents
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
          working_directory: src
          args: -pdf -halt-on-error -synctex=1 -interaction=nonstopmode --shell-escape --enable-write18
          extra_system_packages: 'inkscape openjdk17'
          docker_image: ghcr.io/xu-cheng/texlive-full:20240315

      # Rename the resulting PDF
      - name: Rename PDF
        run: mv src/main.pdf src/master.pdf

      # Upload LaTeX documents to artifacts
      - name: Upload LaTeX documents to artifacts
        uses: actions/upload-artifact@v4
        if: success()
        with:
          name: Master-Thesis
          path: src/master.pdf
          if-no-files-found: error

  update-thesis-repo:
    needs: build-latex
    runs-on: ubuntu-latest

    steps:
      - name: Download built PDF artifact
        uses: actions/download-artifact@v4
        with:
          name: Master-Thesis
          path: ./artifact

      - name: Checkout thesis repo
        uses: actions/checkout@v3
        with:
          repository: Kkobarii/thesis
          token: ${{ secrets.THESIS_REPO_TOKEN }}
          path: thesis

      - name: Replace PDF in thesis repo
        run: cp artifact/master.pdf thesis/static/master.pdf

      - name: Checkout source repo
        uses: actions/checkout@v3
        with:
          path: source
          fetch-depth: 0

      - name: Get messages of new commits
        id: commits
        run: |
          cd source
          echo "messages<<EOF" >> $GITHUB_OUTPUT
          git log --format="%h %s" ${{ github.event.before }}..${{ github.sha }} >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Commit and push
        run: |
          cd thesis
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add static/master.pdf

          if git diff-index --quiet HEAD; then
            echo "No changes to commit"
          else
            git commit -m "Update master.pdf from master-thesis CI" \
                        -m "Updated based on these commits:\n${{ steps.commits.outputs.messages }}"
            git push
          fi
          